.about-section {
    border-bottom: 1px solid #dee2e6;
  }
  
  .about-section .about-card {
    padding: 10px;
    border-right: 1px solid #dee2e6;
  }
  
  .about-section .about-card:last-child {
    border-right: none;
  }
  .font-weight-light {
    font-weight: 300 !important;
  }
  .line {
    display: block;
    width: 25px;
    height: 1.5px;
    background-color: #F85C70;
  }
  .mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.info {
    color: #6c757d;
    font-size: 14px;
  }
  
  .info li {
    padding-bottom: 8px;
  }
  .info span {
    font-weight: 600;
    font-size: 14px;
    color: #343a40;
  }